<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <img src="images/Octocat.png" width="200" />
  <%= require('html-loader!./views/form.html') %>
  <%= require('html-loader!./views/container.html') %>

</body>
</html>
